*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(130deg, #fda085, #b8b9b9);
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    background-color: whitesmoke;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    outline: none;
}

form button{
    color: #fda085;
    background: whitesmoke;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #fda085;
    color: whitesmoke;
}